In [1]:
import numpy as np
import pandas as pd

In [2]:
chitwan = pd.read_csv('chitwan.csv')

In [3]:
chitwan.head(1)

,URL,Title,Rating,Totalratings,RestaurantType,location,OpeningHours,ClosingHours,ImageURL,diningService,DiningService2,DeliveryService
0,https://www.google.com/maps/place/KC%27s+Resta...,KC's Restaurant & Bar,4.2,543,Restaurant,RHINO STATUE,Opens 7AM,Closes 10PM,https://lh5.googleusercontent.com/p/AF1QipNUxs...,Dine-in,Takeaway,Delivery

In [4]:
chitwan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   URL              120 non-null    object
 1   Title            120 non-null    object
 2   Rating           120 non-null    float64
 3   Totalratings     120 non-null    int64
 4   RestaurantType   120 non-null    object
 5   location         105 non-null    object
 6   OpeningHours     120 non-null    object
 7   ClosingHours     120 non-null    object
 8   ImageURL         120 non-null    object
 9   diningService    120 non-null    object
 10  DiningService2   120 non-null    object
 11  DeliveryService  120 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 11.4+ KB

In [5]:
chitwan.dropna(inplace=True)

In [6]:
print(chitwan.shape)

(105, 12)

In [7]:
chitwan.isnull().sum()

URL                0
Title              0
Rating             0
Totalratings       0
RestaurantType     0
location           0
OpeningHours       0
ClosingHours       0
ImageURL           0
diningService      0
DiningService2     0
DeliveryService    0
dtype: int64

In [8]:
chitwan.duplicated().sum()

0

In [9]:
chitwan.iloc[2].Title

'Bhanchha (The Newari Taste You Desire)'

In [10]:
chitwan= chitwan[['Url', 'Title', 'Rating', 'Total']]

KeyError: "['Url', 'Total'] not in index"