In [93]:
import numpy as np
import pandas as pd

In [94]:
chitwan = pd.read_csv('chitwan.csv')

In [95]:
chitwan.head(1)

,URL,Title,Rating,Totalratings,RestaurantType,location,OpeningHours,ClosingHours,ImageURL,diningService,DiningService2,DeliveryService
0,https://www.google.com/maps/place/KC%27s+Resta...,KC's Restaurant & Bar,4.2,543,Restaurant,RHINO STATUE,Opens 7AM,Closes 10PM,https://lh5.googleusercontent.com/p/AF1QipNUxs...,Dine-in,Takeaway,Delivery

In [96]:
print(chitwan.shape)

(120, 12)

In [97]:
chitwan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   URL              120 non-null    object
 1   Title            120 non-null    object
 2   Rating           120 non-null    float64
 3   Totalratings     120 non-null    int64
 4   RestaurantType   120 non-null    object
 5   location         105 non-null    object
 6   OpeningHours     120 non-null    object
 7   ClosingHours     120 non-null    object
 8   ImageURL         120 non-null    object
 9   diningService    120 non-null    object
 10  DiningService2   120 non-null    object
 11  DeliveryService  120 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 11.4+ KB

In [98]:
chitwan.dropna(inplace=True)

In [99]:
print(chitwan.shape)

(105, 12)

In [100]:
chitwan.isnull().sum()

URL                0
Title              0
Rating             0
Totalratings       0
RestaurantType     0
location           0
OpeningHours       0
ClosingHours       0
ImageURL           0
diningService      0
DiningService2     0
DeliveryService    0
dtype: int64

In [101]:
chitwan.duplicated().sum()

0

In [102]:
chitwan.iloc[0].Title

"KC's Restaurant & Bar"

In [104]:
chitwan= chitwan[['Title','Rating', 'Totalratings', 'RestaurantType','location']]

In [108]:
chitwan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 119
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           105 non-null    object
 1   Rating          105 non-null    float64
 2   Totalratings    105 non-null    int64
 3   RestaurantType  105 non-null    object
 4   location        105 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 4.9+ KB

In [123]:
chitwan.head()

,Title,Rating,Totalratings,RestaurantType,location
0,KC's Restaurant & Bar,4.2,543,Restaurant,RHINO STATUE
1,Option Restaurant,4.0,31,Grill,HFMV+4P6
3,Bhanchha (The Newari Taste You Desire),4.3,23,Restaurant,"JH69+MJM, Parsa,Chitwan"
4,Park View Restaurant and Food Delivery service...,4.6,8,Restaurant,"Ratnanagar-06, Nikunja Chok"
5,Famous Restaurant,4.3,17,Restaurant,HFGW+PC9


# Collaborative filtering based

In [132]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [134]:
df = chitwan

In [137]:


# Calculate the combined feature based on Rating and Totalratings
df['Description'] = df['Rating'] * df['Totalratings']

# Create a TF-IDF vectorizer
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df['Description'].astype(str))

# Calculate cosine similarity
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

# Define a function to get item recommendations based on item similarity
def get_item_recommendations(title, cosine_sim=cosine_sim):
    idx = df[df['Title'] == title].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]  # Get the top 10 most similar items (excluding itself)
    item_indices = [i[0] for i in sim_scores]
    return df['Title'].iloc[item_indices]

# Get recommendations for a specific item
item_name = "KC's Restaurant & Bar"
recommendations = get_item_recommendations(item_name)
print(recommendations)

KeyError: 0